<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap"
        rel="stylesheet">
    <title>Predict AQI</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="#" class="logo">
                <img src="/static/img/logo-1.png" height="50" alt="">
            </a>
            <div class="search-view" data-search-view>
                <div class="search-wrapper">
                    <input type="search" name="search" placeholder="Search City" class="search-field" autocomplete="off"
                        data-search-field>
                    <span class="m-icon leading-icon">search</span>

                    <button class="icon-btn leading-icon has-state" aria-level="close search" data-search-toggler>
                        <span class="m-icon">arrow_back</span>
                    </button>
                </div>
                <div class="search-result" data-search-result></div>
            </div>
            <div class="header-actions">
                <button class="icon-btn has-state" aria-label="open search" data-search-toggler>
                    <span class="m-icon icon">search</span>
                </button>
                <a href="#/current-location" class="btn-primary has-state current-location-btn"
                    data-current-location-btn>
                    <span class="m-icon">my_location</span>
                    <span class="span">Current Location</span>
                </a>
            </div>
        </div>
    </header>
    <main>
        <article class="container" data-container>
            <div class="content-left">
                <!-- current weather  -->
                <section class="section current-weather" aria-label="current weather" data-current-weather>
                    <!-- created by js  -->
                </section>
                <section class="section forecast" aria-labelledby="forecast-label" data-5-day-forecast>
                    <h2 class="title-2" id="forecast-label">7 Days AQI Forecast</h2>
                    <div class="card card-lg forecast-card">
                        <ul>
                            <!-- more  -->
                            <li class="card-item">
                                <div class="icon-wrapper">
                                    <img src="/static/img/weather_icons/01d.png" alt="Good" width="36" height="36"
                                        class="weather-icon">
                                    <span class="span">
                                        <p class="title-2">Good</p>
                                    </span>
                                </div>
                                <p class="label-1">
                                    17 Sep
                                </p>
                                <p class="label-1">Sunday</p>
                            </li>
                            <li class="card-item">
                                <div class="icon-wrapper">
                                    <img src="/static/img/weather_icons/01d.png" alt="Good" width="36" height="36"
                                        class="weather-icon">
                                    <span class="span">
                                        <p class="title-2">Good</p>
                                    </span>
                                </div>
                                <p class="label-1">
                                    17 Sep
                                </p>
                                <p class="label-1">Sunday</p>
                            </li>
                            <li class="card-item">
                                <div class="icon-wrapper">
                                    <img src="/static/img/weather_icons/01d.png" alt="Good" width="36" height="36"
                                        class="weather-icon">
                                    <span class="span">
                                        <p class="title-2">Good</p>
                                    </span>
                                </div>
                                <p class="label-1">
                                    17 Sep
                                </p>
                                <p class="label-1">Sunday</p>
                            </li>
                            <li class="card-item">
                                <div class="icon-wrapper">
                                    <img src="/static/img/weather_icons/01d.png" alt="Good" width="36" height="36"
                                        class="weather-icon">
                                    <span class="span">
                                        <p class="title-2">Good</p>
                                    </span>
                                </div>
                                <p class="label-1">
                                    17 Sep
                                </p>
                                <p class="label-1">Sunday</p>
                            </li>
                            <li class="card-item">
                                <div class="icon-wrapper">
                                    <img src="/static/img/weather_icons/01d.png" alt="Good" width="36" height="36"
                                        class="weather-icon">
                                    <span class="span">
                                        <p class="title-2">Good</p>
                                    </span>
                                </div>
                                <p class="label-1">
                                    17 Sep
                                </p>
                                <p class="label-1">Sunday</p>
                            </li>
                            <!-- more  -->
                        </ul>
                    </div>
                </section>
            </div>
            <div class="content-right">
                <section class="section highlights" aria-labelledby="highlights-label" data-highlights>
                    <!-- fetch from js  -->
                </section>
                <section class="section hourly-forecast" aria-label="hourly forecast" data-hourly-forecast>
                    <!-- fetch from js  -->
                    <!-- <ul class="slider-list" data-wind>
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">
                                        03 PM
                                    </p>
                                    <img src="/static/img/weather_icons/direction.png" class="weather-icon" width="48" height="48" loading="lazy">
                                    <p class="body-3">
                                        12 km/h
                                    </p>

                                </div>
                            </li>
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">
                                        03 PM
                                    </p>
                                    <img src="/static/img/weather_icons/direction.png" class="weather-icon" width="48" height="48" loading="lazy">
                                    <p class="body-3">
                                        12 km/h
                                    </p>

                                </div>
                            </li>
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">
                                        03 PM
                                    </p>
                                    <img src="/static/img/weather_icons/direction.png" class="weather-icon" width="48" height="48" loading="lazy">
                                    <p class="body-3">
                                        12 km/h
                                    </p>

                                </div>
                            </li>
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">
                                        03 PM
                                    </p>
                                    <img src="/static/img/weather_icons/direction.png" class="weather-icon" width="48" height="48" loading="lazy">
                                    <p class="body-3">
                                        12 km/h
                                    </p>

                                </div>
                            </li>
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">
                                        03 PM
                                    </p>
                                    <img src="/static/img/weather_icons/direction.png" class="weather-icon" width="48" height="48" loading="lazy">
                                    <p class="body-3">
                                        12 km/h
                                    </p>

                                </div>
                            </li>
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">
                                        03 PM
                                    </p>
                                    <img src="/static/img/weather_icons/direction.png" class="weather-icon" width="48" height="48" loading="lazy">
                                    <p class="body-3">
                                        12 km/h
                                    </p>

                                </div>
                            </li>
                        </ul> -->
                </section>
            </div>
            <div class="loading" data-loading></div>
        </article>
    </main>
    <section class="error-content" data-error-content>
        <h2 class="heading">404</h2>
        <p class="body-1">Page Not Found</p>
        <a href="#/weather?lat=28.6517178&lon=77.2219388" class="btn-primary">
            <span class="span">Go Home</span>
        </a>
    </section>
    <!-- {% if pred %}
    <h1>{{pred}} is the AQI for City: {{city}} & Date {{date}} {{desc}} {{humi}} {{temp}}</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="city" id="city">
        <input type="date" name="date" id="date">
        <input type="submit">
    </form> -->
    <script type="module" src="/static/js/api.js"></script>
    <script type="module" src="/static/js/app.js"></script>
    <script type="module" src="/static/js/route.js"></script>
</body>

</html>